
<div id="content">

	<!-- Page Banner -->
	<div class="page-banner">
		<div class="container">
			<h2>Ubicación</h2>

		</div>
	</div>

	<!-- contact box -->
	<div class="contact-box">
		<div class="container">
			<div class="row">

				<div class="col-md-6" align="center">
					<h3>Honda FAME Monarca DF</h3>
					<br>
					<span class="single-project-content">
						<a href="ubicacion.html"><img alt="Honda Monarca DF Agencia" src="images/fachada-honda-df.jpg"></a></span>                       
						<li><span><i class="fa fa-home"></i>Av. Doctor Río de la Loza #45</span> <span>Col. Doctores</span> <span>Delegación Cuauhtémoc, México, Distrito Federal.</span></li>
					</div>

					<!-- Map box -->
					<div class="col-md-6" align="center">
						<h3>Ubicación</h3><br>
						<div >

							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.7035204471904!2d-99.14642353468355!3d19.425211895949534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fed63eaf8461%3A0xf27530b408735dda!2sHonda+Monarca+D.F.+FAME!5e0!3m2!1ses-419!2smx!4v1562689604337!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

						</div>
					</div>

				</div>
			</div>
		</div>

	</div><br>

</body>
</html>